body {
    background: #272525;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 20px 50px;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: rgb(140, 160, 227);
}